{{#if posts.length}}
<section>
  <h2>Previous Posts</h2>
  {{#each posts as |post|}}
    {{> dashboard-postinfo post}}
  {{/each}}
</section>
{{else}}
  <p>No posts found.</p>
{{/if}}

<a class="btn link" href="/dashboard/new">+ New Post</a>

<script src="Develop/public/javascript/addPost.js"></script>
